// @import 'bootstrap/bootstrap';
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/nav";
@import "bootstrap/utilities";
@import "bootstrap/print";
@import 'highlight';

.bd-article table {
  @extend .table;
}

.bd-article img {
  @extend .img-fluid;
}

.search {
  margin-left: -15px;
  margin-right: -15px;
}

h1 {
  font-variant: small-caps;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

td {
  code {
    word-break: normal;
  }
}

@media (min-width: 1200px) {
  .bd-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
  }
}

@media (min-width: 768px) {
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,.1);
  }
}

.bd-sidebar {
  -ms-flex-order: 0;
  order: 0;
  overflow-y: auto;
}

.bd-main {
  -ms-flex-order: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bd-article {
  flex-grow: 1;
}

.bd-article, .bd-footer {
  flex-shrink: 0;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
{
box-sizing: content-box;
line-height: normal;
}

.gsc-tabsArea div
{
  overflow: visible;
}
