$headings-font-weight: normal;

// @import 'bootstrap/bootstrap';
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/card";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/alert";
@import "bootstrap/utilities";
@import "bootstrap/print";
@import 'highlight';

body {
  display: grid;
  grid-template-columns: minmax(252px,calc(50% - 260px)) 770px 1fr;
}

h1 {
  font-variant: small-caps;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

td:first-child {
  white-space: nowrap;
}

.sidebar {
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 100vh;
  background-color: rgba(0,0,0,0.03);
  border-right: 1px solid rgba(0,0,0,0.1);
  header, nav {
    width: 226px;
  }
  nav ul {
    list-style: none;
    padding-left: 0;
    li {
      &.active a {
        background: rgba(0,0,0,0.05);
      }
    }
    a {
      display: block;
      padding: 3px 15px 5px 15px;
      text-decoration: none;
    }
  }
  header {
    h1 {
      line-height: 50px;
    }
    svg {
      width: 150px;
    }
    a {
      color: #212529;
    }
  }
}

.main {
  order: 1;
  -ms-flex-order: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px;
  table {
    @extend .table;
  }
  img {
    @extend .img-fluid;
  }
  .article {
    flex-grow: 1;
  }

  .article, .footer {
    flex-shrink: 0;
  }
}

.algolia-autocomplete {
  width: 100%;
}

.anchorjs-link {
  text-decoration: none !important;
}
